
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Açıklama</th>
        <th>Başlıklar</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryDescription</td>
            <td><a href="#" class="btn btn-primary">Başlıklar</a></td>
            <td><a href="#" class="btn btn-warning">Güncelle</a></td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>
<br />
<a href="/AdminCategory/AddCategory" class="btn btn-info">Yeni Kategori</a>
